@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

@import "watermark";

* {
  font-family: "Comfortaa", cursive;
}

body {
  position: absolute;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  color: #000;
  text-transform: uppercase;
}
.bg-body {
  position: relative;
  background-color: #fff;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    opacity: 0.5;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //filter: blur(5px);
  }
}

.body-container {
  height: 100%;
}

.container-result {
  padding-bottom: 35px;

  @media (max-width: 600px) {
    padding-top: 25px;
  }
}
.text-shadow-white {
  text-shadow: -2px 0px 0px rgba(255, 255, 255, 0.25), -2px -2px 0px rgba(255, 255, 255, 0.25), 2px 0px 0px rgba(255, 255, 255, 0.25), 0px 2px 0px rgba(255, 255, 255, 0.25);
}
.container-result-title {
  font-size: 32px;
  letter-spacing: 5px;

  @media (max-width: 600px) {
    margin-right: -15px;
    margin-left: -15px;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.body-row {
  height: 100%;
}

.bg-turquoise {
  background-color: #ffe5b4;
}

.bg-image-1 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/bg_2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.21;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d6d8da;
    z-index: -1;
  }
}

.h1 {
  font-size: 40px;
  letter-spacing: 10px;
}

.h2 {
  font-size: 32px;
  letter-spacing: 5px;

  @media (max-width: 600px) {
    font-size: 22px;
    letter-spacing: 1px;
  }
}

.card-pythagoras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding: 15px 0;
  font-size: 20px;
  letter-spacing: 2px;
  color: #1b201a;
  border-radius: 15px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.5);

  @media (max-width: 1280px) {
    font-size: 14px;
  }

  @media (max-width: 1060px) {
    font-size: 14px;

    margin-left: -14px;
    margin-right: -14px;
  }

  @media (max-width: 800px) {
    font-size: 9px;
    margin: 1px 0;
    letter-spacing: 0px;
    margin-left: -14px;
    margin-right: -14px;
  }
}

.card-pythagoras-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: transparent;
  background: transparent;
}

.form-calc {
  width: 100%;
  padding: 0 15px;

  @media (max-width: 600px) {
    padding: 0;
  }
}

.form-title {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 24px 0 0 0;
  }
}

.form-group {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 12px 0;
  }
}

.form-calc-group {
  position: relative;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.form-calc-control {
  border: #ffffff;
  outline: none;
  font-size: 22px;
  text-align: center;
  padding: 25px 8px 19px 8px;
  border: 1px solid #ffffff;
  transition: all 300ms;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  letter-spacing: 4px;
  border-radius: 15px;

  &.is-invalid {
    border-color: red;
    color: red;
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 0.5rem;
  }

  &.form-calc-control-v2 {
    box-shadow: 0px 2px 5px #0000006b;
  }
}

.form-calc-submit {
  padding: 1em 0;
  font-size: 22px;
  background: none;
  outline: none;
  color: #1b201a;
  border-radius: 15px;
  border: 1px solid #496374;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.5);

  @media (max-width: 600px) {
    padding: 0.5em 0;
    width: 100%;
  }
}

.form-calc-label-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 22px;
  margin: 0;
  opacity: 0.3;
}

@media (max-width: 600px) {
  body {
    position: relative;
    height: auto;
    width: auto;
  }

  .mobile-grid {
    display: flex;
    flex-direction: column;
  }

  .mobile-a {
    padding: 10px 0px 5px 0 !important;
  }
}

img {
  display: none !important;
}
